<div>
  <h3>The Wonderful World of Rails</h3>
  <p>We are already in week 5 at GA and time just seems to be flying. Who knew Ruby on Rails could be this exciting.  It is so much easier to read than Javascript and I learned something new about myself.  I like DATA!</p>
</div>
