<!-- partial files (part of a whole file) always start with an underscore -->

<header>
  <h1>Life of Kimmie</h1>
<!--   <a href="http://imgur.com/ol47v7f"><img src="http://i.imgur.com/ol47v7f.png" title="source: imgur.com" /></a> -->
    <ul>
      <li><a href="about">ABOUT</a></li>
      <li><a href="blog">BLOG</a></li>
      <li><a href="contact">CONTACT</a></li>
    </ul>
</header>
