<div id="sidenav">

  <div class="social">
    <ul>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Instagram</li>
      <li>Pinterest</li>
    </ul>
  </div>

  <div id="featured">

  </div>
</div>
